ast_comments
autogluon
cachetools>=5.0.0
Flask
fastapi
freqtrade
gym
humanize
jax
jsonschema
lightgbm
optuna
orjson
protobuf~=5.29.3
psutil
pyarrow
pycoingecko
pydantic
python-rapidjson
PyWavelets
questionary
rich
schedule
scikit-learn
scikit-optimize
sdnotify
shimmy
sqlalchemy
stable_baselines3
statsmodels
tabulate
tensorboard
timesfm
torch
uvicorn
urllib3<2
websockets
yfinance