ast_comments
autogluon
cachetools
ccxt
Flask
fastapi
freqtrade
gym
humanize
jax
jsonschema
lightgbm
numpy<1.24
optuna
orjson
protobuf~=5.29.3
psutil
pyarrow
pycoingecko
pydantic
python-rapidjson
python-telegram-bot==20.0
PyWavelets
questionary
rich
schedule
scikit-learn
scikit-optimize
sdnotify
shimmy
sqlalchemy
stable_baselines3
statsmodels
tabulate
tensorboard
timesfm
torch
uvicorn
urllib3<2
websockets
yfinance